/**
 * Style classes.
 *
 * The style classes rules apply to any widget defining that class.
 * For example, the .buttons class applies to all types of buttons,
 * and allows you to theme all these types of buttons using a single
 * set of rules.
 *
 * You can use all style properties defined for any of the class
 * members in the class rules. These properties can be found in
 * 'Template\Widgets\WidgetName.css'.
 */


/**********************************************/
* {
	-GtkWindow-resize-grip-height:		0px;
	-GtkWindow-resize-grip-width:		0px;
	
	-GtkCheckButton-indicator-size:		16px;
	-GtkCheckMenuItem-indicator-size:	16px;
	-GtkCellRendererToggle-indicator-size:	16px;
    -GtkPaned-handle-size: 3px;

	-GtkToolItemGroup-expander-size:	9px;
	-GtkExpander-expander-size:		9px;
	-GtkTreeView-expander-size:		9px;
	
	-GtkMenuItem-arrow-scaling:		0.6;
    -GtkToolbar-button-relief: normal;
    -GtkMenubar-button-relief: normal;
	
	-GtkButton-child-displacement-x:	1px;
	-GtkButton-child-displacement-y:	1px;
	-GtkButton-default-outside-border:		0px;
	-GtkButton-default-border:		0px;

	-GtkScrolledWindow-scrollbar-spacing:	-1px;
    -GtkScrolledWindow-scrollbars-within-bevel: false;
	-GtkComboBox-appears-as-list:		true;
	
    -GtkRange-slider-width: 20;
    -GtkRange-stepper-size: 20;
    -GtkRange-trough-under-steppers: true;
    -GtkScrollBar-fixed-slider-length: true;
	-GtkRange-trough-border:		0px;
	-GtkNotebook-tab-overlap:		-3px;

    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-line-pattern: "\002\002";
    -GtkLevelBar-min-block-height: 8px;	
    -GtkLevelBar-min-block-width: 8px;	
	padding:		0px;
		
	color:			@fg_color;
	border-color:		@border_color;
	border-style:		solid;
    border-width: 1px;
}

*:prelight 
{
	color:			@fg_color;
}

*:selected
{
	background-color:	@selected_bg_color;
	color:			@fg_color;
}

*:insensitive 
{
	background-color:	shade(@bg_color, 0.95);
	border-color:		@insensitive_border_color;
	color:			mix(@fg_color, @base_color, 0.5);
}
/**********************************************/


/**********************************************/
/* Members: GtkWindow. */
.background 
{
	background-color:	@bg_color;
}

.grip 
{
}
/**********************************************/


/**********************************************/
GtkLabel,
GtkLabel:active,
GtkLabel:insensitive,
GtkImage,
GtkImage:active,
GtkImage:insensitive 
{
    background-color:		transparent;
    border-width:		0px;
}
/**********************************************/


/**********************************************/
GtkStatusbar *
{
	border-width:		1px 0px 0px 0px;
    font-size: 9px;
}

GtkStatusbar GtkLabel
{
	border-width:		0px;
}
/**********************************************/


/**********************************************/
/* Members: GtkTooltip. */
.tooltip
{
	background-color:	@tooltip_bg_color;
	color:			@tooltip_fg_color;
	padding: 		0px;
}
/**********************************************/


/**********************************************/
/* Members: GtkViewport. */
.viewport
{
}

EggListBox:selected
{
    /* because we can't set the color to white*/
	background-color:	alpha(@selected_bg_color, 0.5);
}

GtkLayout,
.view
{
	background-color:	@base_color;
	color:			@text_color;
}

GtkLayout:selected,
.view:selected
{
	background-color:	@selected_bg_color;
	color:		@selected_fg_color;
}

GtkLayout:active,
.view:active
{
	background-color:	@selected_bg_color;
	color:			@selected_fg_color;
}
/**********************************************/


/**********************************************/
row 
{
	border-width:		0px;
}

row:prelight
{
	background-color:	shade(@base_color, 0.95);
}

row:nth-child(odd)
{
	background-color:	shade(@base_color, 0.97);
}

/* Members: GtkCellRendererToggle. */
.cell 
{
}
/**********************************************/


/**********************************************/
/* Members: GtkProgressBar, GtkScale, GtkScrollbar. */
.trough,
.trough row,
.trough row:prelight,
.trough row:selected,
.trough row:selected:focused
{
	background-color:	mix(@fg_color, @bg_color, 0.9);
}

.trough row:selected
{
	border-color:		@fg_color;
}

.trough row:selected:focused
{
	border-color:		@selected_fg_color;
}
/**********************************************/

GtkComboBox .separator {
    border-style: none;
}
/**********************************************/
.separator
{
	color:			@border_color;
}
/**********************************************/


/**********************************************/
.pane-separator 
{
	border-width:		0px;
}
/**********************************************/
.combobox-entry .entry:first-child {
    border-right-width: 0px;
}
GtkComboBox .frame {
    padding : 0px 1px 0 0;
    border-right-width: 0px;
}
#gtk-combobox-popup-window .frame 
{
    padding: 1px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}
/*
.toolbar .button,
.menubar .button,
*/
GtkComboBox .button,
.combobox-entry .button,
.scrollbar.button,
.spinbutton .button
{
	background-color:	shade(@button_color, 0.9);

    border-image: url('button-shallow.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;
}
/*
.toolbar .button:active,
.toolbar .button:prelight:active,
.menubar .button:active,
.menubar .button:prelight:active,
*/
.scrollbar.button:active,
.scrollbar.button:prelight:active,
.combobox-entry .button:active,
.combobox-entry .button:prelight:active,
GtkComboBox .button:active,
GtkComboBox .button:prelight:active,
.spinbutton .button:active,
.spinbutton .button:prelight:active
{
	background-color:	shade(@button_color, 0.9);

    border-image: url('button-shallow-pressed.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;
}
column-header.button,
column-header .button
{
    border-image: url('button-shallow.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;
}
column-header.button:active,
column-header .button:active,
column-header.button:prelight:active,
column-header .button:prelight:active
{
    border-image: url('button-shallow-pressed.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;

}

/**********************************************/
/* Members: GtkCheckButton, GtkRadioButton, GtkButton, GtkToggleButton. */
.button
{
    -GtkWidget-interior-focus: false;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-line-pattern: "\000\000";
	background-color:	@button_color;
    border-image: url('button.png') 3 3 3 3;
    border-width:  3px 3px 3px 3px;
	padding:		0px;
}
.button * {
    background-color: transparent;
}
.button:prelight
{
	background-color:	shade(@button_color, 1.03);
}

.button:active,
.button:prelight:active 
{
	background-color:	shade(@button_color, 0.9);
    border-image: url('button-pressed.png') 3 3 3 3;
    border-width:  3px 3px 3px 3px;
}
.button:insensitive 
{
	background-color:	shade(@button_color, 0.95);
	color:			mix(@fg_color, @base_color, 0.5);
}
/**********************************************/

/**********************************************/
/* Members: GtkEntry. */
.entry 
{
	background-color:	@base_color;
	padding:		2px 2px 3px 2px;	
}

.entry:insensitive 
{
	background-color:	shade(@base_color, 0.95);	
}

.entry:selected {
	background-color:	@selected_bg_color;
	color:			@selected_fg_color;
}

/**********************************************/

.level-bar.fill-block,
.level-bar.fill-block:backdrop {
    background-color: #00f;
}
.level-bar.fill-block.level-high,
.level-bar.fill-block.level-high:backdrop{
    background-color: #0f0;
}
.level-bar.fill-block.level-low,
.level-bar.fill-block.level-low:backdrop {
    background-color: #f00;
}
.level-bar.fill-block.empty-fill-block,
.level-bar.fill-block.empty-fill-block:backdrop {
    background-color: #fff;
}

/**********************************************/
GtkCheckButton,
GtkCheckButton:selected,
GtkCheckButton:selected:focused,
GtkCheckButton:insensitive
{
	background-color:	transparent;
}

/* Members: GtkCellRendererToggle, GtkRadioMenuItem, GtkRadioButton. */
/* Members: GtkCheckMenuItem, GtkCellRendererToggle, GtkCheckButton. */
.radio,
.radio:selected,
.radio:selected:focused,
.radio row,
.radio:selected row,
.radio:active row,
.check,
.check:selected,
.check:selected:focused,
.check row,
.check:selected row,
.check:active row
{
	background-color:	@base_color;
	color:			@text_color;
    border-color:   @text-color;
    border-width:   1px;
}


.radio:insensitive,
.radio:insensitive:selected,
.check:insensitive,
.check:insensitive:selected
{
	background-color:	shade(@base_color, 0.95);
	color:			mix(@fg_color, @base_color, 0.5);
}

/**********************************************/


/**********************************************/
GtkComboBox
{
	background-color:	@base_color;
}
GtkComboBox:insensitive 
{
	background-color:	shade(@base_color, 0.95);	
}

GtkComboBox .button
{	
	padding:		0px;
}
/**********************************************/


/**********************************************/
/* Members: GtkToolbar. */
.toolbar
{
    font-size: 9px;
	padding:		2px 0px;
	border-width:		0px 0px 1px 0px;
    background-color: @button_color;
}
.inline-toolbar
{
	padding:		2px 0px;
	border-width:		0px;
}
/**********************************************/


/**********************************************/
/* Members: GtkProgressBar, GtkCellRendererProgress. */
.progressbar,
.progressbar row,
.progressbar row:prelight
{
	background-color:	@selected_bg_color;
	color:			@selected_fg_color;
	border-color:		@progressbar_border_color;
	border-width:		1px;
}

.progressbar row:selected
{
	border-color:		@fg_color;
}

.progressbar row:selected:focused
{
	border-color:		@selected_fg_color;
}
/**********************************************/


/**********************************************/
/* Members: GtkMenuBar. */
.menubar 
{
	border-width:		0px 0px 1px 0px;
}

.menubar .menuitem
{
	padding: 		3px 7px 2px 7px;
}

.menubar .separator
{
	padding:		3px;
}

/* Members: GtkCheckMenuItem, GtkRadioMenuItem, GtkMenu, GtkMenuItem. */
.menu 
{
    background-color: @bg_color;
	padding: 		2px;
}

/* Members: GtkMenuItem. */
.menuitem 
{
	border-width:		0px;
	background-color:	@bg_color;
	padding: 		2px 7px 2px 7px;
}

.menuitem:prelight,
.menuitem *:prelight
{
	background-color:	@selected_bg_color;
	color:			@selected_fg_color;
}

.menuitem.check,
.menuitem.radio 
{
    border-width: 1px;
}
.menuitem *:insensitive
{
	background-color:	transparent;
}
/**********************************************/


/**********************************************/
GtkNotebook
{
	background-color:	shade(@bg_color, 1.05);
	border-color:		#ffffff;
	border-right-color:	@border_color;
	border-bottom-color:	@border_color;
}

/* Members: GtkNotebook. */
.notebook 
{
	background-color:	@button_color;
    border-image: url('button-shallow.png') 2 2 2 2;
    border-width: 2px;
}

.notebook tab,
tab 
{
	padding: 		2px;
	background-color:	@button_color;
    border-image: url('button-shallow.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;
}

.notebook tab:active,
tab:active
{
	background-color:	@button_color;
    border-image: url('button-shallow-pressed.png') 2 2 2 2;
    border-width:  2px 2px 2px 2px;
    padding: 1px 1px 3px 1px;
}
/**********************************************/


/**********************************************/
.sidebar,
.sidebar.view 
{
	background-color:	shade(@bg_color, 1.05);
    padding: 2px;
}
.sidebar.frame {
    padding: 2px;
}
.sidebar row:prelight,
.sidebar.view row:prelight 
{
	background-color:	@bg_color;
}

.sidebar .highlight {
    font-style: italic;
    font-weight: bold;
	background-color:	@selected_bg_color;
    color:              @selected_fg_color;
}
.sidebar row:selected,
.sidebar row:selected:prelight
{
	background-color:	@selected_bg_color;
    color:              @selected_fg_color;
}
/**********************************************/


/**********************************************/
GtkSwitch.trough 
{
	background-color:	transparent;
}

GtkSwitch.trough:active 
{
	background-color:	@selected_bg_color;
	color:			@selected_fg_color;
}

GtkSwitch.trough:insensitive 
{
	background-color:	shade(@bg_color, 0.95);
}
/**********************************************/


/**********************************************/
/* Members: GtkScale, GtkScrollbar. */
.slider 
{
	background-color:	@button_color;
    border-image: url('button-shallow.png') 2 3 3 2;
    border-width:  2px 3px 3px 2px;
}
.slider:insensitive
{
	background-color:	shade(@bg_color, 0.95);
}
/**********************************************/

.accelerator 
{
	/* Members: GtkAccelLabel. */
}

.arrow 
{
	/* Members: GtkArrow. */
}

.rubberband {
    /* the selection with mouse */
    background-color: alpha(@selected_bg_color, 0.35);
}

.calendar 
{
	/* Members: GtkCalendar. */
}

.dock {
	/* Members: GtkHandleBox. */
    background-color: @bg_color;
}

.expander 
{
	/* Members: GtkExpander. */
	border-color: @fg_color;
}

.frame 
{
	/* Members: GtkFrame. */
    border-width: 1px;
}

.popup 
{
	/* Members: GtkMenu. */
}
GtkStatusBar>.frame
{
    border-width: 1px 0 1px 0;
}

GtkOverlay>GtkScrolledWindow {
/* Gedit hack */
     -GtkScrolledWindow-scrollbar-spacing:  0px;
}
GtkScrolledWindow,
.scrolled-window 
{
	/* Members: GtkScrolledWindow. */
    border-width: 1px;
}
GtkScrolledWindow > GtkViewport
{
    border-style: none;
}
.scrollbars-junction {
    border-style: none;
}
.spinner 
{
	/* Members: GtkSpinner. */
}


/**********************************************/
.info 
{
	background-color:	@info_bg_color;
	color:			@info_fg_color;
}

.warning 
{
	background-color:	@warning_bg_color;
	color:			@warning_fg_color;
}

.question 
{
	background-color:	@question_bg_color;
	color:			@question_fg_color;
}

.error 
{
	background-color:	@error_bg_color;
	color:			@error_fg_color;
}
/**********************************************/
